
section {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 25px 0;

}

#daily-title {
  text-align: center;
  text-shadow: 2px 4px rgba(50,50,70,0.5);
  margin-top: 15px;
}

.daily-data {
  display: flex;
  margin: 15px 0;
}

.daily-weather {
  position: relative;
  width: 100%;
  top: 5vh;
}

.daily-data--items {
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 10px;
  margin-left: 3px;
  border-radius: 16px;
  background-color: rgba(255,255,255,0.2);
  box-shadow: 3px 6px rgba(0,0,0,0.2); 
}
