

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 16px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.75));
  background-image: url('./assets/nasa-bg.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: repeat;
  background-attachment: fixed;
  color: #22223b;
  width: 100%;
  height: 100vh;
  position: relative;
}

input {
  width: 100%;
  padding: 15px 35px;
  border-radius: 15px;
  border: none;
  appearance: none;
  outline: none;
  font-size: 16px;
  background: none;
  background-color: rgba(255,255,255,0.65);
  box-shadow: 3px 6px rgba(0,0,0,0.2);
  transition: 0.4s ease-in-out;
}

input:focus {
  background-color: rgba(255,255,255,0.85);
}

button {
  width: 100%;
  height: 40px;
  margin: 5px 0;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  box-shadow: 3px 6px rgba(0,0,0,0.2);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

button:hover {
  transform: scale(1.01, 1.01);
  background-color: rgba(255,255,255,0.65);
}

.app {
  height: 100vh;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.75));
}

.app::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.app-btn-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.app .app-search {
  position: relative;
  top: 25px;
  display: flex;
  justify-content: center;
} 

::placeholder {
  color: #4a4e69;
}

#app-error-message {
  position: absolute;
  top: 120%;
  left: 0;
  color: red;
  display: flex;
  align-items: flex-end;
  font-weight: 700;
}
