

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 16px;
  background-image: url('./assets/background_warm.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
  color: #22223b;
  width: 100%;
  height: 100vh;
  position: relative;
}

input {
  width: 100%;
  padding: 15px 15px;
  border-radius: 15px;
  border: none;
  appearance: none;
  outline: none;
  font-size: 16px;
  background: none;
  background-color: rgba(255,255 , 255, 0.65);
  transition: 0.4s ease-in-out;
}

input:focus {
  background-color: rgba(255,255,255,0.85);
}

button {
  width: 100%;
  height: 30px;
  margin: 5px 0;
  border-radius: 10px;
  border: none;
  background-color: #fff;
}

.app {
  height: 100vh;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 5%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.75));
}

.app::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.app-btn-container {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.app .app-search {
  position: relative;
  top: 5%;
  display: flex;
  justify-content: center;
} 

::placeholder {
  color: #4a4e69;
}

#app-error-message {
  position: absolute;
  top: 100%;
  left: 1%;
  color: red;
  display: flex;
  align-items: flex-end;
}
